.images {
  width: 250px;
  height: auto;
}





/*wonka Page*/
#wonka{
  display: block;
  margin: 0 auto;
  padding-bottom: 20px;
  width: 400px;
}
#wonkaWell{
  width: 19%;
}
button{
  height:auto;
  width:100px;
  margin: -20px -50px;
  position:relative;
  top:50%;
  left:50%;
}
.form-control{
  width: 200px;
  margin: 20px 50px;
  position:relative;
  top:50%;
  left:50%;
}
