.images {
  width: 250px;
  height: auto;
}


/*wonka Page*/
#wonkaStart{
  padding-bottom: 20px;
  width: 400px;
}
#wonkaWell{
  width: 100%;
  text-align: center;
}
button{
  height:auto;
  width:100px;
  position:relative;

  left:15%;
  float: left;
}
.form-control{
  width: 400px;
  margin-bottom:20px;
  position:relative;

}
::placeholder{
  text-align: center;
  font-size: 20px;
}
input{
  font-style: bold;
}
#wonkaEnd{
width: 400px;
position:relative;
   top: 55px;
   right:5%;

}
